header {
    height: 2.6rem;
    border-bottom: 1px solid #ccc;
}
a.logo {
    display: inline-block;
    float: left;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a.logo:hover {
    border-bottom: 2px solid black;
}
.menu {
    float: right;
}
.menu > ul > li {
    display: inline-block;
    padding: 0.6rem 1rem 0.4rem 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.menu > ul > li:hover {
    border-bottom: 2px solid black;
}

.menu > ul > li > a {
    color: #555;
    text-decoration: none;
}
